@import "../../assets/css/modules/all";

.switch {
  width: 5.4em;
  height: 3em;
  border: .1em solid $color-grey-light;
  display: inline-block;
  border-radius: 2em;
  padding: .2em;
  cursor: pointer;
  user-select: none;
  color: $color-white;
  @include transition(all);

  &__btn {
    height: 100%;
    width: 50%;
    background-color: $color-base-light;
    line-height: 0px;
    border-radius: 2em;
    display: table;
    margin: 0;
    @include transition(all);

    &:before {
      height: 100%;
      width: 100%;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }
  }

  &--on {
    background-color: rgba($color-base-lighter, .05);
    
    .switch__btn{
      transform: translateX(100%);
      background-color: $color-accent;
    }
  }
}